<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebApp</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tenants-app-fga3bpcbgtarf0d9.westcentralus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <TargetFramework>net10.0</TargetFramework>
    <ProjectGuid>00000000-0000-0000-0000-000000000000</ProjectGuid>
    <SelfContained>false</SelfContained>
    <MSDeployServiceURL>tenants-app-fga3bpcbgtarf0d9.scm.westcentralus-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>tenants-app</DeployIisAppPath>
    <UserName>$tenants-app</UserName>
    <PublishSiteName>tenants-app</PublishSiteName>
  </PropertyGroup>
</Project>
